#root {
  width: 100%;
  text-align: center;
}

.animationFadeIn {
    animation: fadeIn 1.5s forwards;
}

.animationZoomIn {
  animation: ZoomIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes ZoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

